body {
    color: darkblue;
    background-color: rgb(195, 218, 255);
}

.cabecalho {
    padding: 2vh 0vh 0vh 77vh;
}

.apresentacao {
    display: flex;
    flex-direction: column;
}

.titulo {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color: darkblue;
    margin-left: 78vh;
}

.texto {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: darkblue;
    margin-left: 93vh;
    margin-top: 80px;
}

.texto__encript {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: darkblue;
    margin-left: 55vh;
}

#campoTexto {
    width: 64vh;
    height: 20vh;
    margin: 5vh;
    padding: 4vh;
    font-family: "Inter", sans-serif;
    font-size: larger;
    border: none;
    margin-left: 60vh;
}

.button {
    display: flex;
    gap: 5vh;
    margin-left: 80vh;
}

#botao__encriptografar,
#botao__desencriptografar {
    background-color: darkblue;
    color: aliceblue;
    width: 15vh;
    height: 4vh;
    margin-bottom: 1%;
    border: none;
}

#botao__encriptografar:hover {
    background-color: green;
    cursor: pointer;
}

#botao__desencriptografar:hover {
    background-color: red;
    cursor: pointer;
}

#textoEncriptografadoContainer {
    margin-top: 10vh;
    margin-left: 30vh;
}

#textoEncriptografado {
    width: 64vh;
    height: 20vh;
    margin: 5vh;
    padding: 4vh;
    font-family: "Inter", sans-serif;
    font-size: larger;
    border: none;
    margin-left: 30vh;
}

.subtitulo {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: darkorange;
    margin-left: 80vh;
    margin-top: 4vh;
    position: relative; /* Adiciona uma posição relativa */
    z-index: 1; /* Define a ordem de camada */
}

footer {
    padding-bottom: 1vh;
    background-color: darkblue;
    margin-top: 8vh;
}

.rodape{
    margin-left: 90vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: darkorange;
}



